body {background-color:#484043; color:white;}
#container
{
	background:#484043;
	position:absolute;
}

#header_container 
{ 
	background:#484043;
	border:0px solid #666; 
	height:60px; 
	left:0;
	position:fixed; 
z-index:3;
	width:100%; top:0; 
}

#header
{ 
	line-height:60px; 
	margin:0 auto; 
	width:940px; 
	text-align:center; 
}

#header h1 { margin: 0; }

#content_container
{
	width:100%;
	background:#484043;
	z-index:2;
	top:30px;
	position:absolute;
	
}
#content
{
	
	clear: left;
	padding: 20px;
 
		width:100vh; 
		font-size: 24px;
margin-top: 100px;
margin-left:50vh;
	
}

#content h2
{
	color:white;
	font-size: 160%;
	margin: 0 0 .5em;
}

/***********************MENU***************************/
#cssmenu {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: auto;
}
#cssmenu ul {
  background: #6E6568;
  height: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu li {
  padding: 0px;
}
#cssmenu li a {
  background: #6E6568 url('seperator.gif') bottom right no-repeat;
  display: block;
  font-weight: normal;
  line-height: 35px;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  color: #cccccc;
}
#cssmenu ul ul a {
  color: #cccccc;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a {
  background: #D23641 url('hover.png') bottom center no-repeat;
  color: #FFFFFF;
  text-decoration: none;
}
#cssmenu li ul {
  background: #6E6568;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 225px;
  z-index: 200;
  /*top:1em;
	/*left:0;*/

}
#cssmenu li:hover ul {
  display: block;
}
#cssmenu li li {
  background: url('sub_sep.gif') bottom left no-repeat;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 225px;
}
#cssmenu li:hover li a {
  background: none;
}
#cssmenu li ul a {
  display: block;
  height: 35px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {
  background: #D23641 url('hover_sub.png') center left no-repeat;
  border: 0px;
  color: #ffffff;
  text-decoration: none;
}
#cssmenu p {
  clear: left;
}
#cssmenu > ul > li {
  display:inline-block;
  margin-left: 15px;       /* This is when the drop down box appears */
  position: relative;
}
 #cssmenu > ul {
  text-align:center;
 }
 
 /*******************************************/