body {background-color:#fff;}
#container
{
	background:#fff;
	position:absolute;
}

#header_container 
{ 
	background:#fff;
	border:0px solid #666; 
	height:60px; 
	left:0;
	position:fixed; 
z-index:3;
	width:100%; top:0; 
}

#header
{ 
	line-height:60px; 
	margin:0 auto; 
	width:940px; 
	text-align:center; 
}

#header h1 { margin: 0; }


#content_container
{
	width:100%;
	background:#fff;
z-index:2;
	top:60px;
	position:absolute;
	
}
#content
{
	
	clear: left;
	padding: 20px;
 
		width:100vh; 
		font-size: 24px;
margin-top: 100px;
margin-left:50vh;
	
}

#content h2
{
	color:#000;
	font-size: 160%;
	margin: 0 0 .5em;
}

/*
#navigation
{
	float: left;
	width: 100%; 
	background:#333;
	text-align:center;
	max-width:960;

}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline-block;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 10px 10px;
	color:#fff;
	text-decoration: none;
	border-right: 1px solid#fff;
	border-left: 1px solid#fff;
}

#navigation li a:hover { background:#383; }
*/

/* Structure
------------------------------------------*/
#menu,
#menu ul {
	list-style: none;
}
#menu {
	float: left;
	width: 100%; 
	background:#333;
	text-align:center;
	max-width:960;
}
#menu > li {
	float: left;
}
#menu li a {
	display: block;
	height: 2em;
	line-height: 2em;
	padding: 0 1.5em;
	text-decoration: none;
}
#menu ul {
	position: absolute;
	display: none;
	z-index: 999;
}
#menu ul li a {
	width: 80px;
}
#menu li:hover ul.noJS {
	display: block; 
}


/* Main menu
------------------------------------------*/
#menu {
	font-family: Arial;
	font-size: 12px;
	background: #2f8be8;
}
#menu > li > a {
	color: #fff;
	font-weight: bold;
}
#menu > li:hover > a {
	background: #f09d28;
	color: #000;
}


/* Submenu
------------------------------------------*/
#menu ul {
	background: #f09d28;
}
#menu ul li a {
	color: #000;
}
#menu ul li:hover a {
	background: #ffc97c;
}
